<section class="content">
    <h2 class="heading"><span>Регистрация</span></h2>
    <form action="/registration/new" method="post">
        <label for="login">Логин</label>
        <input type="text" value="{{ login }}" id="login" name="login" placeholder="Логин"><br><br>
        <label for="pass">Пароль</label>
        <input type="password"  value="{{ pass }}" id="pass" name="pass"><br><br>
        <label for="pass">Повторите пароль</label>
        <input type="password"  value="{{ passRepeat }}" id="passRepeat" name="passRepeat"><br><br>
        <label for="name">Имя</label>
        <input type="text"  value="{{ name }}" id="name" name="name"><br><br>
        <label for="email">Почта</label>
        <input type="email" value="{{ email }}" id="email" name="email"><br><br>
        <input class="btn" type="submit" name="submit" value="Отправить"><br>
    </form>

    {% if error %}
        <div style="background-color: red;padding: 5px;margin: 15px"> {{ error }}</div>
    {% endif %}
</section>