<h2>Корзина</h2>

{% for item in basket %}
    <div id="{{ item.basket_id }}">
        <h3><a href="/product/card/?id={{ item.prod_id }}">{{ item.name }}</a></h3>
        <p>{{ item.name }}</p>
        <button class="delete" data-id="{{ item.basket_id }}">Удалить</button>
    </div>
{% else %}
    Корзина пуста
{% endfor %}

<script>
    let buttons = document.querySelectorAll('.delete');
    buttons.forEach((elem) => {
        elem.addEventListener('click', () => {
            let id = elem.getAttribute('data-id');
            (
                async () => {
                    const responce = await fetch('/basket/delete/?id=' + id);
                    const answer = await responce.json();
                    document.getElementById('count').innerText = answer.count;
                    document.getElementById(id).remove();
                }
            )();
        })
    })
</script>